<div class="Box mt-5">
  <div class="Box-header">
    <h3 class="Box-title">
      <%= @name %>
    </h3>
  </div>
  <div class="Box-body p-0">
    <div class="Box-row p-0 mt-0">
      <%= for pr <- @prs do render(PurrWeb.PageView, "_pr.html", pr) end %>
    </div>
  </div>
</div>
